/*
colors:
#F5F0ED beige
#D4C6BD brown
#3D5361
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Poppins:wght@600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f0ed;
    font-family: "Nunito Sans", sans-serif;
    color: #292929;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

button {
    background-color: #d4c6bd;
    border: none;
    border-radius: 3px;
    padding: 10px 40px;
    font-size: 1rem;
    color: whitesmoke;
    margin: 5px;
}

h1 {
    font-family: "Poppins", sans-serif;
}

input {
    width: 100%;
    margin-top: 10px;
    border: none;
    background-color: ghostwhite;
    padding: 10px;
}

textarea {
    width: 100%;
    margin-top: 10px;
    border: none;
    background-color: ghostwhite;
    padding: 10px;
}

.icon img {
    filter: brightness(0%);
}
